Source: golismero
Section: net
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://code.google.com/p/golismero/
Vcs-Git: ssh://git@git.kali.org/packages/golismero.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/golismero.git;a=summary

Package: golismero
Architecture: all
Depends: ${misc:Depends}, python2.7, python-docutils, python-pymongo, python-simplejson, python2.7-dev, python-pip, git, perl, nmap, sslscan, python-argcomplete
Description: Web application mapper
 GoLISMERO help you to map an web application, displaying as 
 confortable format for security auditor and preparing them 
 for intergrate with other web hacking tools as w3af, wfuzz, 
 netcat, nikto, etc 
